
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/DataBase.d
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/DataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/DataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/DataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/login.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/qrc_Resources.cpp
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/qrc_Resources.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/Sistema_Almox.exe
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debugDataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debugDataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debugataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debugataBase.db
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_login.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_login.cpp
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_login.h
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/asdasd
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/database.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/uimanager.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/message.o
*.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_edit.cpp
*.Debug
*.Release
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_edit.h
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/usersnycolasappdatalocaltemptmpth6uc2
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/usersnycolasappdatalocaltemptmp9emwma
*.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/inventory.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/usersnycolasappdatalocaltemptmppbxdgz
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/inventory.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/inventory.o
*.o
build-Sistema_Almox-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/inventory.o
